p, h1, h6 {
   font-family: arial;
}
table {
   text-align: center;
   font-family: arial;
}

th {
	background-color: #e85039;
    color: white;
}

form {
	text-align: center;
	margin-top: 9%; 
}

label, h3 {
    color: dimgrey;
}

div {
	margin: 0 auto; 
	text-align: center;
}

.input {
    background-color: #4ba4f9;
	color: white;
	font-family: arial;
	padding: 1.5%;
	border-radius: 5px;
	border-color:red;
	border: 0;
	font-size: 20pt;
}

.zebra tr:nth-child(odd) {
	background: #eeeeee;
}

.form-registration {
    width: 55%;
    height: auto;
    background-color: whitesmoke;
    margin-bottom: 5%;
    border-radius: 0px 0px 10px 10px; 
    box-shadow: -2px 1px 2px rgba(0,0,0,0.15), 
    2px 1px 2px rgba(0,0,0,0.15);
    text-align: left;
}

.form-margin {
    width: 80%;
    margin: 0 auto;
}

.header-form-registration {
    border-radius: 10px 10px 0px 0px; 
    margin-top: 5%;
    margin-bottom: -5%;
    width: 55%;
    height:150px;
    background-color: #4ba4f9;
    color: #ffffff;
    text-align: center;
    font-family: arial;
    box-shadow: -2px -1px 2px rgba(0,0,0,0.15), 
    2px -1px 2px rgba(0,0,0,0.15);
}

#header-form-registration-p {
    margin-top: 3%;
}

#header-form-registration-h1 {
    padding-top: 5%;
}

#form-registration-button {
    margin-top: 10%;
    margin-bottom: 5%;
}

#your-name-form-registration {
    margin-top: 3%;
    padding-top: 5%;
}

.all-form-registration {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.input-left-form-registration {
    text-align: left;
    margin-left: 11%;
}

.margin-caption {
    margin-top: 3%;
    text-align: left;
    margin-left: 10%;
}

#data-color-form registration {
    color: dimgrey;
}

.date-registration-form {
    margin-top: 5%;
    margin-bottom: -5%;
}




