p, h1, h6 {
   font-family: arial;
}
table {
   text-align: center;
   font-family: arial;
}

th {
	background-color: #e85039;
    color: white;
}

form {
	text-align: center;
	margin-top: 5%; 
}

input {
    background-color: #4ba4f9;
	color: white;
	font-family: arial;
	padding: 1.5%;
	border-radius: 5px;
	border-color:red;
	border: 0;
	font-size: 20pt;
}

div {
	margin: 0 auto; 
	text-align: center;
}
.zebra tr:nth-child(odd) {
	background: #eeeeee;
}

.header-form-registration {
	border-top-left-radius: 5px; 
	border-top-right-radius: 5px; 
	text-align: center;
	padding-top: 2%;
	color: white;
	background-color: #2fb0d7;
	height: 100px;
}
	
.footer-form-registration{

}
.form-registration {
	border-radius: 5px;
	width: 600px;
	height: auto;
    background-color: gray;
}

.send {
	width: 200px;
	color: white; 
    background-color:#393939;
    margin-bottom:5%;
}


