table {
   font-family: arial;
   text-align: center;
}

th {
	background-color: #e85039;
  color: white;
}

.zebra tr:nth-child(odd) {
	background: #eeeeee;
}

form {
	text-align: center;
	margin-top: 5%; 
}

input {
    background-color: #4ba4f9;
	color: white;
	font-family: arial;
	padding: 1.5%;
	border-radius: 10px;
	border: 0;
	font-size: 20pt;
}